version: "3.7"
networks:
  default:
    external:
      name: "{{ PROJECT_NAME }}-{{ PROJECT_SERVICE_NAME }}"

volumes:
  redis_data:
    driver: "local"
    driver_opts: 
      o: "bind"
      device: "{{ GLUSTER_SHARE_PATH }}/{{ PROJECT_NAME }}/{{ PROJECT_SERVICE_NAME }}/data"
      type: "glusterfs"
services:
  redis:
    image: "babel.ngc-data.fr:8443/common/docker/redis:{{ CONFIG_DEPLOY['version'] }}"
    hostname: "{{ PROJECT_NAME }}-{{ PROJECT_SERVICE_NAME }}.{{ NODE_HOSTNAME }}"
    deploy:
      replicas: {{ CONFIG_DEPLOY['replicas'] }}
      restart_policy:
        condition: "any"
      resources:
{% for  type, devices in CONFIG_DEPLOY['resources'].items() %}
        {{ type |trim}}:
{% for  device, value in devices.items() %}
          {{ device |trim}}: {{ value |trim}}
{% endfor %}{% endfor %}
    healthcheck:
      test: "redis-cli ping"
      interval: "20s"
      timeout: "10s"
      retries: 3
    logging:
      driver: "fluentd"
      options:
        tag: "docker.{{ PROJECT_NAME }}.{{ PROJECT_SERVICE_NAME }}"
        fluentd-async-connect: "true"
    volumes:
      - "redis_data:/data"


    
